@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    src: url("http://libs.useso.com/js/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), url("http://libs.useso.com/js/font-awesome/4.2.0/fonts/fontawesome-webfont.woff") format('woff'), url("http://libs.useso.com/js/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf") format('truetype'), url("http://libs.useso.com/js/font-awesome/4.2.0/fonts/fontawesome-webfont.svg#FontAwesomeRegular") format('svg');
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1260px) {
    body {
        margin: 0 30px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 13px;
    }
}

h1,
h2,
h4 {
    font-size: 18px !important;
}

h5,
h6 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

h1 {
    font-size: 2em !important;
}

h2 {
    font-size: 1.8em !important;
}

a {
    text-decoration: none;
    color: #258fb8;
}

a:hover {
    color: #258fcc;
}

.commentbox_main {
    margin-top: 10px;
}

.commentbox_title {
    width: 100% !important;
}

#tbCommentBody {
    width: 100%;
    height: 180px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
}

#blogTitle {
    font-size: 50px;
    font-family: 'Lucida Sans', "黑体", 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.alignright {
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

#header,
#main,
#footer {
    width: 1200px;
    margin: 0 auto;
    /*text-align: center;*/
}


#mainContent {
    width: 800px;
    margin: 50px auto;
}

#header {
    text-shadow: 0 0 1px #fff;
    margin: 50px auto;
    position: relative;
    height: 60px;
    color: #999;
}

#header a {
    color: #999;
    font_size: 50px;
}

#header a:hover {
    color: #258fb8;
    text-decoration: none;
}

#header h1 {
    font-weight: normal;
    font-size: 30px;
    line-height: 1;
}

#header h2 {
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1;
    margin-top: 10px;
    margin-left: 30px;
}

#header #navigator {
    font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 2.5em;
    position: relative;
    text-align: right;
}

#header #navigator ul {
    list-style: none;
}

#header #navigator ul li {
    margin-left: 30px;
}

#header .blogStats {
    position: absolute;
    top: 35px;
    right: 0;
}

.topicListFooter {
    margin-bottom: 30px;
    margin-right: 0 !important;
}

.topicListFooter a {
    display: inline !important;
    padding: 5px 10px;
    background: #ddd;
    color: #999;
    font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 1px #fff;
}

.topicListFooter a:hover {
    background: #258fb8;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.topicListFooter .prev:before {
    content: '\f053';
    padding-right: 10px;
    font-family: FontAwesome;
}

.topicListFooter .next:after {
    content: '\f054';
    padding-left: 10px;
    font-family: FontAwesome;
}

article {
    background: #fff;
}

article.page {
    padding-left: 20px;
}

article.page .icon {
    display: none;
}

.postIcon:before {
    content: '\f016';
}

article.photo .icon:before {
    content: '\f030';
}

article.link .icon:before {
    content: '\f0c1';
}

article.link .title a:after {
    content: '\f08e';
    color: #999;
    font: 12px FontAwesome;
    padding-left: 10px;
    vertical-align: super;
}

.dayTitle {
    display: none;
}

.postTitle,
.entrylistPosttitle {
    font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2.0em;
    margin: 20px 0px 20px 0px;
    padding: 20px 20px 0px 50px;
    background: #fff;
    font-weight: 500;
}

.entrylistPostSummary,
.postCon,
.postBody {
    padding: 0 20px 15px 50px;
    background: #fff;
    position: relative;
}

.postDesc,
.entrylistItemPostDesc {
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 1.5rem;
    margin-right: 50px;
    padding: 10px 20px 3.0rem 0px;
    color: #999;
    font-size: 1.0rem;
    line-height: 16px;
    position: relative;
    min-height: 16px;
    background: #fff;
    border-bottom: 1px;
    border-bottom-style: ridge;
}

@media screen and (max-width: 600px) {
    .postCon {
        padding-left: 20px;
    }
}

.postIcon {
    height: 0px;
    margin-right: 25px;
    position: relative;
    top: 25px;
    left: 25px;
    color: #258fb8;
}

@media screen and (max-width: 600px) {
    article header .icon {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body{
        width: auto;
        margin: 0 10px;
    }
    #mainContent{
        width: 800px;
        margin: 50px auto;
    }
    #header,
    #main,
    #footer,
    #mainContent {
        width: 100%;
        margin: 20px auto;
    }
    .postDesc,
    .postTitle{
        padding: 10px 10px 5px 15px;
        text-align:center;
    }
    .postTitle{
        font-size: 1.8rem;
    }
    .title{
        font-size: large;
    }
    .subtitle{
        font-size: small;
    }
    .postBody{
        padding: 0 5px 10px 15px;
    }
    .entrylistPosttitle,
    .entrylistItemPostDesc
    {
        padding: 10px 10px 5px 15px;
        text-align:center;
    }
    .entrylistPostSummary{
        padding: 10px 10px 5px 15px;
    }
}


.postIcon:before {
    position: absolute;
    font: 32px FontAwesome;
    top: 0;
    left: 0;
    width: 32px;
    text-align: center;
}

article header time {
    color: #999;
    font: 0.9em "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    display: block;
    line-height: 1;
}

article header .title {
    font-weight: normal;
}

article header .title a {
    color: #444;
}

article header .title a:hover {
    color: #258fb8;
    text-decoration: none;
}

#cnblogs_post_body {
    text-align: justify;
    line-height: 1.8;
}

#cnblogs_post_body img {
    max-width: 800px;
}

#cnblogs_post_body table {
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background: #fefefe;
    margin: 0 auto;
    width: 95%;
    border-left: 10px;
    border-right: 10px;
    margin: 5% auto 0;
    -moz-border-radius: 5px;
    /* FF1+ */
    -webkit-border-radius: 5px;
    /* Saf3-4 */
    border-radius: 5px;
    font-family: "consolas";
}

#cnblogs_post_body table td {
    border: 0px;
    font-size: 14px;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

#cnblogs_post_body table tr {
    background: #F7F7F7
}

#cnblogs_post_body tr:first-child th.first {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    /* Saf3-4 */
}

#cnblogs_post_body table th {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-top: 5px;
    text-shadow: 1px 1px 1px #fff;
    background: #e8eaeb;
    border: 0px;
}

#cnblogs_post_body iframe,
#cnblogs_post_body h3,
#cnblogs_post_body h4,
#cnblogs_post_body h5,
#cnblogs_post_body h6,
#cnblogs_post_body .video-container {
    margin-top: 15px;
}

#cnblogs_post_body blockquote {
    border-left: 3px solid #D7D7D7;
    color: #8F9192;
    border-bottom: 5px;
    margin: 15px;
    background: no-repeat scroll right top #F7F7F7;
    padding: 10px 10px 5px;
    border: 1px dashed #CCC
}

#cnblogs_post_body p {
}

#cnblogs_post_body code,
#cnblogs_post_body pre {
    font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}

#cnblogs_post_body code {
    font-family: Monaco, Menlo, Consolas, monospace, Courier New !important;
    background: #eee;
    padding: 0 5px;
    margin: 0 2px;
    font-size: 14px !important;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#cnblogs_post_body pre {
    background: #eee;
    overflow: auto;
    padding: 7px 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#cnblogs_post_body pre code {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#cnblogs_post_body ul ul,
#cnblogs_post_body ol ul,
#cnblogs_post_body dl ul,
#cnblogs_post_body ul ol,
#cnblogs_post_body ol ol,
#cnblogs_post_body dl ol,
#cnblogs_post_body ul dl,
#cnblogs_post_body ol dl,
#cnblogs_post_body dl dl {
    margin-top: 0;
}

#cnblogs_post_body h1 {
    padding-bottom: 4px;
    color: #009FAB;
    font-family: "黑体", "宋体", "微软雅黑", Arial;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 !important;
    padding: 10px 0 10px 0px;
}

#cnblogs_post_body h2 {
    color: #5F9EA0;
    font-family: "黑体", "宋体", "微软雅黑", Arial;
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0 0 0;
    padding: 50px 0 20px 0px;
    border-top: 1px;
    border-top-style: ridge;
}

#cnblogs_post_body h3 {
    padding-bottom: 4px;
    color: #005359;
    font-family: "黑体", "宋体", "微软雅黑", Arial;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 !important;
    padding: 10px 0 10px 0px;
}

.postBody img,
.entrylistPostSummary img,
.postCon img,
.postBody video {
    max-width: 100%;
    height: auto;
    border: none;
}

#cnblogs_post_body iframe {
    border: none;
}

#cnblogs_post_body .caption {
    display: block;
    margin-top: 5px;
    color: #999;
    position: relative;
    font-size: 0.9em;
    padding-left: 25px;
}

#cnblogs_post_body .caption:before {
    content: '\f040';
    position: absolute;
    font: 1.3em FontAwesome;
    position: absolute;
    left: 0;
    top: 3px;
}

#cnblogs_post_body .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

#cnblogs_post_body .video-container iframe,
#cnblogs_post_body .video-container object,
#cnblogs_post_body .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
}

#cnblogs_post_body .pullquote {
    border: none;
    padding: 0;
    margin: 1em 0 0.5em 1.5em;
    text-align: left;
    width: 45%;
    font-size: 1.5em;
}

#blog-comments-placeholder,
#comment_form {
    padding: 20px;
    background: #fff;
    margin-bottom: 50px;
}

.feedback_area_title {
    margin-bottom: 15px;
    font-size: 1.8em;
}

.feedbackItem {
    border-left: 3px solid #CCC;
    margin-bottom: 10px;
    padding: 8px;
    background: rgb(248, 248, 248);
}

.color_shine {
    background: rgb(226, 242, 255);
}

.feedbackItem:hover {
    -webkit-animation-name: color_shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

#comment_form .title {
    font-weight: normal;
    margin-bottom: 20px;
}

#ad_under_post_holder {
    display: none;
}

.c_ad_block img{
    width: auto;
    max-width: 100%;
}

.entrylistTitle {
    color: #999;
    font-weight: normal;
    margin-bottom: 30px;
    text-shadow: 0 0 1px #fff;
}

.entrylistTitle:before {
    font-family: FontAwesome;
    content: '\f07b';
    padding-right: 15px;
}

.archive {
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
}

.archive article {
}

.archive article .post-content {
    margin-bottom: 0;
}

#sideBar {
    width: 270px;
    line-height: 1.8em;
}

#q {
    background: #fff;
    font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 1em;
    padding: 10px 15px;
    border: 1px solid #ddd;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #999;
    height: 100%;
}

#q:focus {
    color: #444;
}


/*隐藏搜索框中的无用组件*/

.mySearch {
    display: none;
}

#sideBar .tag small {
    margin-left: 15px;
    color: #999;
}

#sideBar .tag small:before {
    content: '(';
}

#sideBar .tag small:after {
    content: ')';
}

#sideBar .twitter li {
    border-bottom: 1px solid #ddd;
    padding: 15px 20px;
    font-size: 0.9em;
}

#sideBar .twitter li:last-of-type {
    border-bottom: none;
}

#sideBar .twitter small {
    display: block;
    margin-top: 10px;
    color: #999;
    line-height: 1;
}

#sideBar .tagcloud .entry {
    padding-right: 5px;
}

#sideBar .tagcloud a {
    margin-right: 10px;
    display: inline-block;
}

#footer {
    color: #999;
    margin-bottom: 50px;
    font: 0.9em/1.6 "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 1px #fff;
    text-align: center;
}

.entry .gist {
    background: #eee;
    border: 1px solid #ddd;
    margin-top: 15px;
    padding: 7px 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0 0 1px #fff;
    line-height: 1.6;
    overflow: auto;
    color: #666;
}

.entry .gist .gist-file {
    border: none;
    font-family: inherit;
    margin: 0;
    font-size: 0.9em;
}

.entry .gist .gist-file .gist-data {
    background: none;
    border-bottom: none;
}

.entry .gist .gist-file .gist-data pre {
    padding: 0 !important;
    font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}

.entry .gist .gist-file .gist-meta {
    background: none;
    color: #999;
    margin-top: 5px;
    padding: 0;
    text-shadow: 0 0 1px #fff;
    font-size: 100%;
}

.entry .gist .gist-file .gist-meta a {
    color: #258fb8;
}

.entry .gist .gist-file .gist-meta a:visited {
    color: #258fb8;
}

figure.highlight {
    background: #eee;
    border: 1px solid #ddd;
    margin-top: 15px;
    padding: 7px 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0 0 1px #fff;
    line-height: 1.6;
    overflow: auto;
    position: relative;
    font-size: 0.9em;
}

figure.highlight figcaption {
    color: #999;
    margin-bottom: 5px;
    text-shadow: 0 0 1px #fff;
}

figure.highlight figcaption a {
    position: absolute;
    right: 15px;
}

figure.highlight pre {
    border: none;
    padding: 0;
    margin: 0;
}

figure.highlight table {
    margin-top: 0;
    border-spacing: 20;
}

figure.highlight .gutter {
    color: #afafaf;
    padding: 7px 10px 7px 5px !important;
    border-right: 1px solid #ddd;
    text-align: right;
}

figure.highlight .code {
    padding: 7px 7px 7px 10px !important;
    border-left: 1px solid #fff;
}

pre .comment {
    color: #008200 !important;
}

pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
    color: #93a1a1;
    font-style: italic;
}

pre .keyword {
    color: #006699 !important;
}

pre .winutils,
pre .method {
    color: #ff1493 !important;
}

pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
    color: #859900;
}

pre .number {
    color: #bbbbbb !important;
}

pre .command,
pre .string,
pre .tag .value {
    color: #009900 !important;
}

pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
    color: #2aa198;
}

pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
    color: #268bd2;
}

pre .attribute,
pre .variable {
    color: #aa7700 !important;
}

pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
    color: #b58900;
}

pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
    color: #cb4b16;
}

pre .deletion {
    color: #dc322f;
}

.feedbackListSubtitle {
    position: relative;
}

.feedbackManage {
    width: auto;
    text-align: right;
}

.cnblogs_code_toolbar {
    display: none;
}

#cnblogs_post_body {
    overflow: hidden;
}

#cnblogs_post_body ol {
    padding-left: 40px;
}

#cnblogs_post_body ul {
    margin-left: 35px;
}

.fixedReadRank {
    position: fixed;
    top: 20px;
    width: 270px;
}

.fixedRecRank {
    position: fixed;
    top: 360px;
    width: 270px;
}

figure.highlight {
    margin-top: 0;
    padding: 0;
}

figure table {
    width: 100%;
    margin: 0 !important;
}

#cnblogs_post_body pre {
    padding: 0;
}

#cnblogs_post_body th,
#cnblogs_post_body td {
    padding: 0;
}

.cnblogs_code pre {
    padding: 7px 15px !important;
    background: #f5f5f5;
    border: 0;
    margin-top: 0;
}

.cnblogs_code th {
    border: 1px solid silver;
    padding: 3px;
}

.cnblogs_code {
    padding: 0;
}
